.edit-post-layout__content[data-site_layout="none"] .wp-block {
  max-width: 770px;
}
.edit-post-layout__content[data-site_layout="none"] .wp-block[data-align="wide"] {
  max-width: 1170px;
}
.edit-post-layout__content[data-site_layout="none"] .wp-block[data-align="full"] {
  max-width: none;
  margin-left: -45px;
  margin-right: -45px;
}
@media (min-width: 600px) {
  .edit-post-layout__content[data-site_layout="none"] .editor-block-list__block[data-align=full] > .editor-block-list__block-edit {
    margin-left: -44px;
    margin-right: -44px;
  }
}
.editor-post-title__block.editor-post-title__block .editor-post-title__input {
  font-size: 40px;
  font-weight: 400;
  color: #333333;
}
.editor-styles-wrapper ul.wp-block-gallery {
  padding: 0;
}
.editor-styles-wrapper .wp-block-pullquote {
  border-top: 4px solid #333333;
  border-bottom: 4px solid #333333;
  color: #333333;
}
.editor-styles-wrapper .wp-block-pullquote blockquote:not(.is-large):not(.is-style-large) {
  padding-left: 0;
  border-left: none;
}
.editor-styles-wrapper .wp-block-table.is-style-stripes tr:nth-child(odd) {
  background-color: #f8f8f8;
}
.editor-styles-wrapper .wp-block-table.is-style-stripes td {
  border-color: transparent;
}
.editor-styles-wrapper ul.wp-block-archives-list {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
}
.editor-styles-wrapper ul.wp-block-archives-list li {
  padding: 0;
  margin: 0;
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  font-family: 'Libre Baskerville';
  line-height: 20px;
}
.editor-styles-wrapper ul.wp-block-archives-list li + li {
  margin-top: 16px;
}
.editor-styles-wrapper ul.wp-block-archives-list li > a {
  color: inherit;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  display: inline-block;
  font-size: 15px;
  padding: 0;
}
.editor-styles-wrapper ul.wp-block-archives-list li > a:hover,
.editor-styles-wrapper ul.wp-block-archives-list li > a:focus,
.editor-styles-wrapper ul.wp-block-archives-list li > a:active {
  text-decoration: none;
  color: #e4573d;
}
.editor-styles-wrapper ul.wp-block-archives-list li > a:before {
  background-color: #ababab;
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;
  height: 1px;
  -webkit-transition: transform 0.4s ease;
  -moz-transition: transform 0.4s ease;
  -ms-transition: transform 0.4s ease;
  -o-transition: transform 0.4s ease;
  transition: transform 0.4s ease;
  -webkit-transform: scale3d(0, 1, 1);
  -moz-transform: scale3d(0, 1, 1);
  -ms-transform: scale3d(0, 1, 1);
  -o-transform: scale3d(0, 1, 1);
  transform: scale3d(0, 1, 1);
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
  -moz-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
  -o-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
}
.editor-styles-wrapper ul.wp-block-archives-list .count {
  font-size: 15px;
  font-stretch: normal;
  line-height: 20px;
  letter-spacing: normal;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  margin-left: 10px;
}
.editor-styles-wrapper ul.wp-block-archives-list .count:before {
  content: '(';
}
.editor-styles-wrapper ul.wp-block-archives-list .count:after {
  content: ')';
}
.editor-styles-wrapper ul.wp-block-archives-list li > a:hover,
.editor-styles-wrapper ul.wp-block-archives-list li > a:focus,
.editor-styles-wrapper ul.wp-block-archives-list li > a:active {
  color: #333333;
}
.editor-styles-wrapper ul.wp-block-archives-list li > a:hover + span.count,
.editor-styles-wrapper ul.wp-block-archives-list li > a:focus + span.count,
.editor-styles-wrapper ul.wp-block-archives-list li > a:active + span.count {
  color: #333333;
}
.editor-styles-wrapper ul.wp-block-archives-list li > a:hover:before,
.editor-styles-wrapper ul.wp-block-archives-list li > a:focus:before,
.editor-styles-wrapper ul.wp-block-archives-list li > a:active:before {
  -webkit-transform: scale3d(1, 1, 1);
  -moz-transform: scale3d(1, 1, 1);
  -ms-transform: scale3d(1, 1, 1);
  -o-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  -webkit-transform-origin: 0% 50%;
  -moz-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  -o-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  right: 0;
}
.editor-styles-wrapper ul.wp-block-latest-posts,
.editor-styles-wrapper ol.wp-block-latest-comments {
  padding: 0;
  list-style: none;
}
.editor-styles-wrapper ul.wp-block-latest-posts a,
.editor-styles-wrapper ol.wp-block-latest-comments a {
  color: inherit;
}
.editor-styles-wrapper ul.wp-block-latest-posts a:hover,
.editor-styles-wrapper ol.wp-block-latest-comments a:hover,
.editor-styles-wrapper ul.wp-block-latest-posts a:focus,
.editor-styles-wrapper ol.wp-block-latest-comments a:focus,
.editor-styles-wrapper ul.wp-block-latest-posts a:active,
.editor-styles-wrapper ol.wp-block-latest-comments a:active {
  text-decoration: none;
  color: #e4573d;
}
.editor-styles-wrapper ul.wp-block-latest-posts li,
.editor-styles-wrapper ol.wp-block-latest-comments li {
  line-height: 20px;
}
.editor-styles-wrapper ul.wp-block-latest-posts li + li,
.editor-styles-wrapper ol.wp-block-latest-comments li + li {
  margin-top: 16px;
}
.editor-styles-wrapper .wp-block-button__link,
.editor-styles-wrapper input[type="submit"],
.editor-styles-wrapper input[type="button"],
.editor-styles-wrapper input[type="reset"],
.editor-styles-wrapper .btn {
  display: inline-block;
  font-weight: 800;
  position: relative;
  letter-spacing: 1px;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  text-transform: uppercase;
  padding: 13px 35px;
  font-size: 13px;
  line-height: 20px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.editor-styles-wrapper .wp-block-button__link.btn-outline,
.editor-styles-wrapper input[type="submit"].btn-outline,
.editor-styles-wrapper input[type="button"].btn-outline,
.editor-styles-wrapper input[type="reset"].btn-outline,
.editor-styles-wrapper .btn.btn-outline {
  padding: 13px 35px;
}
.editor-styles-wrapper .wp-block-button__link:hover,
.editor-styles-wrapper input[type="submit"]:hover,
.editor-styles-wrapper input[type="button"]:hover,
.editor-styles-wrapper input[type="reset"]:hover,
.editor-styles-wrapper .btn:hover,
.editor-styles-wrapper .wp-block-button__link:focus,
.editor-styles-wrapper input[type="submit"]:focus,
.editor-styles-wrapper input[type="button"]:focus,
.editor-styles-wrapper input[type="reset"]:focus,
.editor-styles-wrapper .btn:focus,
.editor-styles-wrapper .wp-block-button__link.focus,
.editor-styles-wrapper input[type="submit"].focus,
.editor-styles-wrapper input[type="button"].focus,
.editor-styles-wrapper input[type="reset"].focus,
.editor-styles-wrapper .btn.focus {
  text-decoration: none;
}
.editor-styles-wrapper .wp-block-button__link:active,
.editor-styles-wrapper input[type="submit"]:active,
.editor-styles-wrapper input[type="button"]:active,
.editor-styles-wrapper input[type="reset"]:active,
.editor-styles-wrapper .btn:active,
.editor-styles-wrapper .wp-block-button__link.active,
.editor-styles-wrapper input[type="submit"].active,
.editor-styles-wrapper input[type="button"].active,
.editor-styles-wrapper input[type="reset"].active,
.editor-styles-wrapper .btn.active {
  outline: 0;
  background-image: none;
}
.editor-styles-wrapper .wp-block-button__link.disabled,
.editor-styles-wrapper input[type="submit"].disabled,
.editor-styles-wrapper input[type="button"].disabled,
.editor-styles-wrapper input[type="reset"].disabled,
.editor-styles-wrapper .btn.disabled,
.editor-styles-wrapper .wp-block-button__link[disabled],
.editor-styles-wrapper input[type="submit"][disabled],
.editor-styles-wrapper input[type="button"][disabled],
.editor-styles-wrapper input[type="reset"][disabled],
.editor-styles-wrapper .btn[disabled],
fieldset[disabled] .editor-styles-wrapper .wp-block-button__link,
fieldset[disabled] .editor-styles-wrapper input[type="submit"],
fieldset[disabled] .editor-styles-wrapper input[type="button"],
fieldset[disabled] .editor-styles-wrapper input[type="reset"],
fieldset[disabled] .editor-styles-wrapper .btn {
  cursor: not-allowed;
  -webkit-opacity: 0.65;
  -moz-opacity: 0.65;
  opacity: 0.65;
}
.editor-styles-wrapper .btn {
  min-width: 160px;
  text-align: center;
}
.editor-styles-wrapper .wp-block-button__link:not(.has-background):not(.has-text-color),
.editor-styles-wrapper .btn,
.editor-styles-wrapper input[type="submit"],
.editor-styles-wrapper input[type="button"],
.editor-styles-wrapper input[type="reset"] {
  color: #ffffff;
  background-color: #e4573d;
  border-color: #e4573d;
}
.editor-styles-wrapper .wp-block-button__link:not(.has-background):not(.has-text-color).btn-link:before,
.editor-styles-wrapper .btn.btn-link:before,
.editor-styles-wrapper input[type="submit"].btn-link:before,
.editor-styles-wrapper input[type="button"].btn-link:before,
.editor-styles-wrapper input[type="reset"].btn-link:before {
  background-color: #e4573d;
}
.editor-styles-wrapper .wp-block-button__link:not(.has-background):not(.has-text-color):focus,
.editor-styles-wrapper .btn:focus,
.editor-styles-wrapper input[type="submit"]:focus,
.editor-styles-wrapper input[type="button"]:focus,
.editor-styles-wrapper input[type="reset"]:focus,
.editor-styles-wrapper .wp-block-button__link:not(.has-background):not(.has-text-color):active,
.editor-styles-wrapper .btn:active,
.editor-styles-wrapper input[type="submit"]:active,
.editor-styles-wrapper input[type="button"]:active,
.editor-styles-wrapper input[type="reset"]:active,
.editor-styles-wrapper .wp-block-button__link:not(.has-background):not(.has-text-color):hover,
.editor-styles-wrapper .btn:hover,
.editor-styles-wrapper input[type="submit"]:hover,
.editor-styles-wrapper input[type="button"]:hover,
.editor-styles-wrapper input[type="reset"]:hover {
  color: #ffffff !important;
  background-color: #333333;
  border-color: #333333;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.editor-styles-wrapper .wp-block-button__link:not(.has-background):not(.has-text-color):focus.btn-link:before,
.editor-styles-wrapper .btn:focus.btn-link:before,
.editor-styles-wrapper input[type="submit"]:focus.btn-link:before,
.editor-styles-wrapper input[type="button"]:focus.btn-link:before,
.editor-styles-wrapper input[type="reset"]:focus.btn-link:before,
.editor-styles-wrapper .wp-block-button__link:not(.has-background):not(.has-text-color):active.btn-link:before,
.editor-styles-wrapper .btn:active.btn-link:before,
.editor-styles-wrapper input[type="submit"]:active.btn-link:before,
.editor-styles-wrapper input[type="button"]:active.btn-link:before,
.editor-styles-wrapper input[type="reset"]:active.btn-link:before,
.editor-styles-wrapper .wp-block-button__link:not(.has-background):not(.has-text-color):hover.btn-link:before,
.editor-styles-wrapper .btn:hover.btn-link:before,
.editor-styles-wrapper input[type="submit"]:hover.btn-link:before,
.editor-styles-wrapper input[type="button"]:hover.btn-link:before,
.editor-styles-wrapper input[type="reset"]:hover.btn-link:before {
  background-color: #333333;
}
.editor-styles-wrapper .wp-block-button__link:not(.has-background):not(.has-text-color).disabled:hover,
.editor-styles-wrapper .btn.disabled:hover,
.editor-styles-wrapper input[type="submit"].disabled:hover,
.editor-styles-wrapper input[type="button"].disabled:hover,
.editor-styles-wrapper input[type="reset"].disabled:hover,
.editor-styles-wrapper .wp-block-button__link:not(.has-background):not(.has-text-color)[disabled]:hover,
.editor-styles-wrapper .btn[disabled]:hover,
.editor-styles-wrapper input[type="submit"][disabled]:hover,
.editor-styles-wrapper input[type="button"][disabled]:hover,
.editor-styles-wrapper input[type="reset"][disabled]:hover,
fieldset[disabled] .editor-styles-wrapper .wp-block-button__link:not(.has-background):not(.has-text-color):hover,
fieldset[disabled] .editor-styles-wrapper .btn:hover,
fieldset[disabled] .editor-styles-wrapper input[type="submit"]:hover,
fieldset[disabled] .editor-styles-wrapper input[type="button"]:hover,
fieldset[disabled] .editor-styles-wrapper input[type="reset"]:hover,
.editor-styles-wrapper .wp-block-button__link:not(.has-background):not(.has-text-color).disabled:focus,
.editor-styles-wrapper .btn.disabled:focus,
.editor-styles-wrapper input[type="submit"].disabled:focus,
.editor-styles-wrapper input[type="button"].disabled:focus,
.editor-styles-wrapper input[type="reset"].disabled:focus,
.editor-styles-wrapper .wp-block-button__link:not(.has-background):not(.has-text-color)[disabled]:focus,
.editor-styles-wrapper .btn[disabled]:focus,
.editor-styles-wrapper input[type="submit"][disabled]:focus,
.editor-styles-wrapper input[type="button"][disabled]:focus,
.editor-styles-wrapper input[type="reset"][disabled]:focus,
fieldset[disabled] .editor-styles-wrapper .wp-block-button__link:not(.has-background):not(.has-text-color):focus,
fieldset[disabled] .editor-styles-wrapper .btn:focus,
fieldset[disabled] .editor-styles-wrapper input[type="submit"]:focus,
fieldset[disabled] .editor-styles-wrapper input[type="button"]:focus,
fieldset[disabled] .editor-styles-wrapper input[type="reset"]:focus,
.editor-styles-wrapper .wp-block-button__link:not(.has-background):not(.has-text-color).disabled:active,
.editor-styles-wrapper .btn.disabled:active,
.editor-styles-wrapper input[type="submit"].disabled:active,
.editor-styles-wrapper input[type="button"].disabled:active,
.editor-styles-wrapper input[type="reset"].disabled:active,
.editor-styles-wrapper .wp-block-button__link:not(.has-background):not(.has-text-color)[disabled]:active,
.editor-styles-wrapper .btn[disabled]:active,
.editor-styles-wrapper input[type="submit"][disabled]:active,
.editor-styles-wrapper input[type="button"][disabled]:active,
.editor-styles-wrapper input[type="reset"][disabled]:active,
fieldset[disabled] .editor-styles-wrapper .wp-block-button__link:not(.has-background):not(.has-text-color):active,
fieldset[disabled] .editor-styles-wrapper .btn:active,
fieldset[disabled] .editor-styles-wrapper input[type="submit"]:active,
fieldset[disabled] .editor-styles-wrapper input[type="button"]:active,
fieldset[disabled] .editor-styles-wrapper input[type="reset"]:active,
.editor-styles-wrapper .wp-block-button__link:not(.has-background):not(.has-text-color).disabled.focus,
.editor-styles-wrapper .btn.disabled.focus,
.editor-styles-wrapper input[type="submit"].disabled.focus,
.editor-styles-wrapper input[type="button"].disabled.focus,
.editor-styles-wrapper input[type="reset"].disabled.focus,
.editor-styles-wrapper .wp-block-button__link:not(.has-background):not(.has-text-color)[disabled].focus,
.editor-styles-wrapper .btn[disabled].focus,
.editor-styles-wrapper input[type="submit"][disabled].focus,
.editor-styles-wrapper input[type="button"][disabled].focus,
.editor-styles-wrapper input[type="reset"][disabled].focus,
fieldset[disabled] .editor-styles-wrapper .wp-block-button__link:not(.has-background):not(.has-text-color).focus,
fieldset[disabled] .editor-styles-wrapper .btn.focus,
fieldset[disabled] .editor-styles-wrapper input[type="submit"].focus,
fieldset[disabled] .editor-styles-wrapper input[type="button"].focus,
fieldset[disabled] .editor-styles-wrapper input[type="reset"].focus {
  background-color: #e4573d;
  border-color: #e4573d;
}
.editor-styles-wrapper .wp-block-button:not(.is-style-outline) .wp-block-button__link:hover,
.editor-styles-wrapper .wp-block-button:not(.is-style-outline) .wp-block-button__link:focus,
.editor-styles-wrapper .wp-block-button:not(.is-style-outline) .wp-block-button__link:active {
  color: #fff;
  background-color: #333;
  border-color: #333;
}
.editor-styles-wrapper .wp-block-button:not(.is-style-outline) .wp-block-button__link.has-background,
.editor-styles-wrapper .wp-block-button:not(.is-style-outline) .wp-block-button__link.has-text-color {
  border-color: transparent;
}
.editor-styles-wrapper .wp-block-button.is-style-outline .wp-block-button__link {
  background: transparent !important;
  border: 2px solid currentcolor;
  color: #e4573d;
}
.editor-styles-wrapper .wp-block-button.is-style-outline .wp-block-button__link:hover,
.editor-styles-wrapper .wp-block-button.is-style-outline .wp-block-button__link:focus,
.editor-styles-wrapper .wp-block-button.is-style-outline .wp-block-button__link:active {
  color: #e4573d;
}
.editor-styles-wrapper .wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color):hover,
.editor-styles-wrapper .wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color):focus,
.editor-styles-wrapper .wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color):active {
  color: #333;
}
.editor-styles-wrapper a.btn.disabled,
fieldset[disabled] .editor-styles-wrapper a.btn {
  pointer-events: none;
}
.editor-styles-wrapper .btn-block {
  display: block;
  width: 100%;
}
.editor-styles-wrapper .btn.btn-xs {
  padding: 11px 25px;
  font-size: 13px;
  line-height: 20px;
}
.editor-styles-wrapper .btn.btn-xs.btn-outline {
  padding: 11px 25px;
}
.editor-styles-wrapper .btn.btn-sm {
  padding: 12px 30px;
  font-size: 13px;
  line-height: 20px;
}
.editor-styles-wrapper .btn.btn-sm.btn-outline {
  padding: 12px 30px;
}
.editor-styles-wrapper .btn.btn-md {
  padding: 13px 35px;
  font-size: 13px;
  line-height: 20px;
}
.editor-styles-wrapper .btn.btn-md.btn-outline {
  padding: 13px 35px;
}
.editor-styles-wrapper .btn.btn-lg {
  padding: 14px 40px;
  font-size: 14px;
  line-height: 20px;
}
.editor-styles-wrapper .btn.btn-lg.btn-outline {
  padding: 14px 40px;
}
.editor-styles-wrapper .btn.btn-link {
  border: none;
  height: auto;
  padding: 0;
  min-width: unset;
  font-weight: 700;
  position: relative;
}
.editor-styles-wrapper .btn.btn-link:before {
  position: absolute;
  display: block;
  content: '';
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  -webkit-transition: transform 0.4s ease;
  -moz-transition: transform 0.4s ease;
  -ms-transition: transform 0.4s ease;
  -o-transition: transform 0.4s ease;
  transition: transform 0.4s ease;
  -webkit-transform: scale3d(0, 1, 1);
  -moz-transform: scale3d(0, 1, 1);
  -ms-transform: scale3d(0, 1, 1);
  -o-transform: scale3d(0, 1, 1);
  transform: scale3d(0, 1, 1);
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
  -moz-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
  -o-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
}
.editor-styles-wrapper .btn.btn-link:hover:before,
.editor-styles-wrapper .btn.btn-link:focus:before,
.editor-styles-wrapper .btn.btn-link:active:before {
  -webkit-transform: scale3d(1, 1, 1);
  -moz-transform: scale3d(1, 1, 1);
  -ms-transform: scale3d(1, 1, 1);
  -o-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  -webkit-transform-origin: 0% 50%;
  -moz-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  -o-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
}
.editor-styles-wrapper .btn.btn-round {
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  border-radius: 5em;
}
.editor-styles-wrapper .wp-block-button:not(.is-style-squared) .wp-block-button__link,
.editor-styles-wrapper .btn.btn-rounded {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.editor-styles-wrapper .btn.btn-inline {
  display: inline-block;
  vertical-align: top;
}
.editor-styles-wrapper .btn.btn-icon-left i {
  margin-right: 10px;
}
.editor-styles-wrapper .btn.btn-icon-right i {
  margin-left: 10px;
}
.editor-styles-wrapper .btn.btn-accent {
  color: #ffffff;
  background-color: #e4573d;
  border-color: #e4573d;
}
.editor-styles-wrapper .btn.btn-accent.btn-link:before {
  background-color: #e4573d;
}
.editor-styles-wrapper .btn.btn-accent:focus,
.editor-styles-wrapper .btn.btn-accent:active,
.editor-styles-wrapper .btn.btn-accent:hover {
  color: #ffffff !important;
  background-color: #333333;
  border-color: #333333;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.editor-styles-wrapper .btn.btn-accent:focus.btn-link:before,
.editor-styles-wrapper .btn.btn-accent:active.btn-link:before,
.editor-styles-wrapper .btn.btn-accent:hover.btn-link:before {
  background-color: #333333;
}
.editor-styles-wrapper .btn.btn-accent.disabled:hover,
.editor-styles-wrapper .btn.btn-accent[disabled]:hover,
fieldset[disabled] .editor-styles-wrapper .btn.btn-accent:hover,
.editor-styles-wrapper .btn.btn-accent.disabled:focus,
.editor-styles-wrapper .btn.btn-accent[disabled]:focus,
fieldset[disabled] .editor-styles-wrapper .btn.btn-accent:focus,
.editor-styles-wrapper .btn.btn-accent.disabled:active,
.editor-styles-wrapper .btn.btn-accent[disabled]:active,
fieldset[disabled] .editor-styles-wrapper .btn.btn-accent:active,
.editor-styles-wrapper .btn.btn-accent.disabled.focus,
.editor-styles-wrapper .btn.btn-accent[disabled].focus,
fieldset[disabled] .editor-styles-wrapper .btn.btn-accent.focus {
  background-color: #e4573d;
  border-color: #e4573d;
}
.editor-styles-wrapper .btn.btn-accent.btn-outline {
  color: #e4573d;
  background-color: transparent;
  border-color: #e4573d;
}
.editor-styles-wrapper .btn.btn-accent.btn-outline.btn-link:before {
  background-color: #e4573d;
}
.editor-styles-wrapper .btn.btn-accent.btn-outline:focus,
.editor-styles-wrapper .btn.btn-accent.btn-outline:active,
.editor-styles-wrapper .btn.btn-accent.btn-outline:hover {
  color: #ffffff !important;
  background-color: #e4573d;
  border-color: #e4573d;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.editor-styles-wrapper .btn.btn-accent.btn-outline:focus.btn-link:before,
.editor-styles-wrapper .btn.btn-accent.btn-outline:active.btn-link:before,
.editor-styles-wrapper .btn.btn-accent.btn-outline:hover.btn-link:before {
  background-color: #e4573d;
}
.editor-styles-wrapper .btn.btn-accent.btn-outline.disabled:hover,
.editor-styles-wrapper .btn.btn-accent.btn-outline[disabled]:hover,
fieldset[disabled] .editor-styles-wrapper .btn.btn-accent.btn-outline:hover,
.editor-styles-wrapper .btn.btn-accent.btn-outline.disabled:focus,
.editor-styles-wrapper .btn.btn-accent.btn-outline[disabled]:focus,
fieldset[disabled] .editor-styles-wrapper .btn.btn-accent.btn-outline:focus,
.editor-styles-wrapper .btn.btn-accent.btn-outline.disabled:active,
.editor-styles-wrapper .btn.btn-accent.btn-outline[disabled]:active,
fieldset[disabled] .editor-styles-wrapper .btn.btn-accent.btn-outline:active,
.editor-styles-wrapper .btn.btn-accent.btn-outline.disabled.focus,
.editor-styles-wrapper .btn.btn-accent.btn-outline[disabled].focus,
fieldset[disabled] .editor-styles-wrapper .btn.btn-accent.btn-outline.focus {
  background-color: transparent;
  border-color: #e4573d;
}
.editor-styles-wrapper .btn.btn-accent.btn-link {
  color: #e4573d;
  background-color: transparent;
  border-color: #e4573d;
}
.editor-styles-wrapper .btn.btn-accent.btn-link.btn-link:before {
  background-color: #e4573d;
}
.editor-styles-wrapper .btn.btn-accent.btn-link:focus,
.editor-styles-wrapper .btn.btn-accent.btn-link:active,
.editor-styles-wrapper .btn.btn-accent.btn-link:hover {
  color: #e4573d !important;
  background-color: transparent;
  border-color: #e4573d;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.editor-styles-wrapper .btn.btn-accent.btn-link:focus.btn-link:before,
.editor-styles-wrapper .btn.btn-accent.btn-link:active.btn-link:before,
.editor-styles-wrapper .btn.btn-accent.btn-link:hover.btn-link:before {
  background-color: #e4573d;
}
.editor-styles-wrapper .btn.btn-accent.btn-link.disabled:hover,
.editor-styles-wrapper .btn.btn-accent.btn-link[disabled]:hover,
fieldset[disabled] .editor-styles-wrapper .btn.btn-accent.btn-link:hover,
.editor-styles-wrapper .btn.btn-accent.btn-link.disabled:focus,
.editor-styles-wrapper .btn.btn-accent.btn-link[disabled]:focus,
fieldset[disabled] .editor-styles-wrapper .btn.btn-accent.btn-link:focus,
.editor-styles-wrapper .btn.btn-accent.btn-link.disabled:active,
.editor-styles-wrapper .btn.btn-accent.btn-link[disabled]:active,
fieldset[disabled] .editor-styles-wrapper .btn.btn-accent.btn-link:active,
.editor-styles-wrapper .btn.btn-accent.btn-link.disabled.focus,
.editor-styles-wrapper .btn.btn-accent.btn-link[disabled].focus,
fieldset[disabled] .editor-styles-wrapper .btn.btn-accent.btn-link.focus {
  background-color: transparent;
  border-color: #e4573d;
}
.editor-styles-wrapper .btn.btn-primary {
  color: #ffffff;
  background-color: #c5a374;
  border-color: #c5a374;
}
.editor-styles-wrapper .btn.btn-primary.btn-link:before {
  background-color: #c5a374;
}
.editor-styles-wrapper .btn.btn-primary:focus,
.editor-styles-wrapper .btn.btn-primary:active,
.editor-styles-wrapper .btn.btn-primary:hover {
  color: #ffffff !important;
  background-color: #333333;
  border-color: #333333;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.editor-styles-wrapper .btn.btn-primary:focus.btn-link:before,
.editor-styles-wrapper .btn.btn-primary:active.btn-link:before,
.editor-styles-wrapper .btn.btn-primary:hover.btn-link:before {
  background-color: #333333;
}
.editor-styles-wrapper .btn.btn-primary.disabled:hover,
.editor-styles-wrapper .btn.btn-primary[disabled]:hover,
fieldset[disabled] .editor-styles-wrapper .btn.btn-primary:hover,
.editor-styles-wrapper .btn.btn-primary.disabled:focus,
.editor-styles-wrapper .btn.btn-primary[disabled]:focus,
fieldset[disabled] .editor-styles-wrapper .btn.btn-primary:focus,
.editor-styles-wrapper .btn.btn-primary.disabled:active,
.editor-styles-wrapper .btn.btn-primary[disabled]:active,
fieldset[disabled] .editor-styles-wrapper .btn.btn-primary:active,
.editor-styles-wrapper .btn.btn-primary.disabled.focus,
.editor-styles-wrapper .btn.btn-primary[disabled].focus,
fieldset[disabled] .editor-styles-wrapper .btn.btn-primary.focus {
  background-color: #c5a374;
  border-color: #c5a374;
}
.editor-styles-wrapper .btn.btn-primary.btn-outline {
  color: #c5a374;
  background-color: transparent;
  border-color: #c5a374;
}
.editor-styles-wrapper .btn.btn-primary.btn-outline.btn-link:before {
  background-color: #c5a374;
}
.editor-styles-wrapper .btn.btn-primary.btn-outline:focus,
.editor-styles-wrapper .btn.btn-primary.btn-outline:active,
.editor-styles-wrapper .btn.btn-primary.btn-outline:hover {
  color: #ffffff !important;
  background-color: #c5a374;
  border-color: #c5a374;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.editor-styles-wrapper .btn.btn-primary.btn-outline:focus.btn-link:before,
.editor-styles-wrapper .btn.btn-primary.btn-outline:active.btn-link:before,
.editor-styles-wrapper .btn.btn-primary.btn-outline:hover.btn-link:before {
  background-color: #c5a374;
}
.editor-styles-wrapper .btn.btn-primary.btn-outline.disabled:hover,
.editor-styles-wrapper .btn.btn-primary.btn-outline[disabled]:hover,
fieldset[disabled] .editor-styles-wrapper .btn.btn-primary.btn-outline:hover,
.editor-styles-wrapper .btn.btn-primary.btn-outline.disabled:focus,
.editor-styles-wrapper .btn.btn-primary.btn-outline[disabled]:focus,
fieldset[disabled] .editor-styles-wrapper .btn.btn-primary.btn-outline:focus,
.editor-styles-wrapper .btn.btn-primary.btn-outline.disabled:active,
.editor-styles-wrapper .btn.btn-primary.btn-outline[disabled]:active,
fieldset[disabled] .editor-styles-wrapper .btn.btn-primary.btn-outline:active,
.editor-styles-wrapper .btn.btn-primary.btn-outline.disabled.focus,
.editor-styles-wrapper .btn.btn-primary.btn-outline[disabled].focus,
fieldset[disabled] .editor-styles-wrapper .btn.btn-primary.btn-outline.focus {
  background-color: transparent;
  border-color: #c5a374;
}
.editor-styles-wrapper .btn.btn-primary.btn-link {
  color: #c5a374;
  background-color: transparent;
  border-color: #c5a374;
}
.editor-styles-wrapper .btn.btn-primary.btn-link.btn-link:before {
  background-color: #c5a374;
}
.editor-styles-wrapper .btn.btn-primary.btn-link:focus,
.editor-styles-wrapper .btn.btn-primary.btn-link:active,
.editor-styles-wrapper .btn.btn-primary.btn-link:hover {
  color: #c5a374 !important;
  background-color: transparent;
  border-color: #c5a374;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.editor-styles-wrapper .btn.btn-primary.btn-link:focus.btn-link:before,
.editor-styles-wrapper .btn.btn-primary.btn-link:active.btn-link:before,
.editor-styles-wrapper .btn.btn-primary.btn-link:hover.btn-link:before {
  background-color: #c5a374;
}
.editor-styles-wrapper .btn.btn-primary.btn-link.disabled:hover,
.editor-styles-wrapper .btn.btn-primary.btn-link[disabled]:hover,
fieldset[disabled] .editor-styles-wrapper .btn.btn-primary.btn-link:hover,
.editor-styles-wrapper .btn.btn-primary.btn-link.disabled:focus,
.editor-styles-wrapper .btn.btn-primary.btn-link[disabled]:focus,
fieldset[disabled] .editor-styles-wrapper .btn.btn-primary.btn-link:focus,
.editor-styles-wrapper .btn.btn-primary.btn-link.disabled:active,
.editor-styles-wrapper .btn.btn-primary.btn-link[disabled]:active,
fieldset[disabled] .editor-styles-wrapper .btn.btn-primary.btn-link:active,
.editor-styles-wrapper .btn.btn-primary.btn-link.disabled.focus,
.editor-styles-wrapper .btn.btn-primary.btn-link[disabled].focus,
fieldset[disabled] .editor-styles-wrapper .btn.btn-primary.btn-link.focus {
  background-color: transparent;
  border-color: #c5a374;
}
.editor-styles-wrapper .btn.btn-white {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.editor-styles-wrapper .btn.btn-white.btn-link:before {
  background-color: #ffffff;
}
.editor-styles-wrapper .btn.btn-white:focus,
.editor-styles-wrapper .btn.btn-white:active,
.editor-styles-wrapper .btn.btn-white:hover {
  color: #ffffff !important;
  background-color: #e4573d;
  border-color: #e4573d;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.editor-styles-wrapper .btn.btn-white:focus.btn-link:before,
.editor-styles-wrapper .btn.btn-white:active.btn-link:before,
.editor-styles-wrapper .btn.btn-white:hover.btn-link:before {
  background-color: #e4573d;
}
.editor-styles-wrapper .btn.btn-white.disabled:hover,
.editor-styles-wrapper .btn.btn-white[disabled]:hover,
fieldset[disabled] .editor-styles-wrapper .btn.btn-white:hover,
.editor-styles-wrapper .btn.btn-white.disabled:focus,
.editor-styles-wrapper .btn.btn-white[disabled]:focus,
fieldset[disabled] .editor-styles-wrapper .btn.btn-white:focus,
.editor-styles-wrapper .btn.btn-white.disabled:active,
.editor-styles-wrapper .btn.btn-white[disabled]:active,
fieldset[disabled] .editor-styles-wrapper .btn.btn-white:active,
.editor-styles-wrapper .btn.btn-white.disabled.focus,
.editor-styles-wrapper .btn.btn-white[disabled].focus,
fieldset[disabled] .editor-styles-wrapper .btn.btn-white.focus {
  background-color: #ffffff;
  border-color: #ffffff;
}
.editor-styles-wrapper .btn.btn-white.btn-outline {
  color: #ffffff;
  background-color: transparent;
  border-color: #ffffff;
}
.editor-styles-wrapper .btn.btn-white.btn-outline.btn-link:before {
  background-color: #ffffff;
}
.editor-styles-wrapper .btn.btn-white.btn-outline:focus,
.editor-styles-wrapper .btn.btn-white.btn-outline:active,
.editor-styles-wrapper .btn.btn-white.btn-outline:hover {
  color: #333333 !important;
  background-color: #ffffff;
  border-color: #ffffff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.editor-styles-wrapper .btn.btn-white.btn-outline:focus.btn-link:before,
.editor-styles-wrapper .btn.btn-white.btn-outline:active.btn-link:before,
.editor-styles-wrapper .btn.btn-white.btn-outline:hover.btn-link:before {
  background-color: #ffffff;
}
.editor-styles-wrapper .btn.btn-white.btn-outline.disabled:hover,
.editor-styles-wrapper .btn.btn-white.btn-outline[disabled]:hover,
fieldset[disabled] .editor-styles-wrapper .btn.btn-white.btn-outline:hover,
.editor-styles-wrapper .btn.btn-white.btn-outline.disabled:focus,
.editor-styles-wrapper .btn.btn-white.btn-outline[disabled]:focus,
fieldset[disabled] .editor-styles-wrapper .btn.btn-white.btn-outline:focus,
.editor-styles-wrapper .btn.btn-white.btn-outline.disabled:active,
.editor-styles-wrapper .btn.btn-white.btn-outline[disabled]:active,
fieldset[disabled] .editor-styles-wrapper .btn.btn-white.btn-outline:active,
.editor-styles-wrapper .btn.btn-white.btn-outline.disabled.focus,
.editor-styles-wrapper .btn.btn-white.btn-outline[disabled].focus,
fieldset[disabled] .editor-styles-wrapper .btn.btn-white.btn-outline.focus {
  background-color: transparent;
  border-color: #ffffff;
}
.editor-styles-wrapper .btn.btn-white.btn-link {
  color: #ffffff;
  background-color: transparent;
  border-color: #ffffff;
}
.editor-styles-wrapper .btn.btn-white.btn-link.btn-link:before {
  background-color: #ffffff;
}
.editor-styles-wrapper .btn.btn-white.btn-link:focus,
.editor-styles-wrapper .btn.btn-white.btn-link:active,
.editor-styles-wrapper .btn.btn-white.btn-link:hover {
  color: #ffffff !important;
  background-color: transparent;
  border-color: #ffffff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.editor-styles-wrapper .btn.btn-white.btn-link:focus.btn-link:before,
.editor-styles-wrapper .btn.btn-white.btn-link:active.btn-link:before,
.editor-styles-wrapper .btn.btn-white.btn-link:hover.btn-link:before {
  background-color: #ffffff;
}
.editor-styles-wrapper .btn.btn-white.btn-link.disabled:hover,
.editor-styles-wrapper .btn.btn-white.btn-link[disabled]:hover,
fieldset[disabled] .editor-styles-wrapper .btn.btn-white.btn-link:hover,
.editor-styles-wrapper .btn.btn-white.btn-link.disabled:focus,
.editor-styles-wrapper .btn.btn-white.btn-link[disabled]:focus,
fieldset[disabled] .editor-styles-wrapper .btn.btn-white.btn-link:focus,
.editor-styles-wrapper .btn.btn-white.btn-link.disabled:active,
.editor-styles-wrapper .btn.btn-white.btn-link[disabled]:active,
fieldset[disabled] .editor-styles-wrapper .btn.btn-white.btn-link:active,
.editor-styles-wrapper .btn.btn-white.btn-link.disabled.focus,
.editor-styles-wrapper .btn.btn-white.btn-link[disabled].focus,
fieldset[disabled] .editor-styles-wrapper .btn.btn-white.btn-link.focus {
  background-color: transparent;
  border-color: #ffffff;
}
.editor-styles-wrapper .btn.btn-gray {
  color: #ffffff;
  background-color: #808080;
  border-color: #808080;
}
.editor-styles-wrapper .btn.btn-gray.btn-link:before {
  background-color: #808080;
}
.editor-styles-wrapper .btn.btn-gray:focus,
.editor-styles-wrapper .btn.btn-gray:active,
.editor-styles-wrapper .btn.btn-gray:hover {
  color: #ffffff !important;
  background-color: #333333;
  border-color: #333333;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.editor-styles-wrapper .btn.btn-gray:focus.btn-link:before,
.editor-styles-wrapper .btn.btn-gray:active.btn-link:before,
.editor-styles-wrapper .btn.btn-gray:hover.btn-link:before {
  background-color: #333333;
}
.editor-styles-wrapper .btn.btn-gray.disabled:hover,
.editor-styles-wrapper .btn.btn-gray[disabled]:hover,
fieldset[disabled] .editor-styles-wrapper .btn.btn-gray:hover,
.editor-styles-wrapper .btn.btn-gray.disabled:focus,
.editor-styles-wrapper .btn.btn-gray[disabled]:focus,
fieldset[disabled] .editor-styles-wrapper .btn.btn-gray:focus,
.editor-styles-wrapper .btn.btn-gray.disabled:active,
.editor-styles-wrapper .btn.btn-gray[disabled]:active,
fieldset[disabled] .editor-styles-wrapper .btn.btn-gray:active,
.editor-styles-wrapper .btn.btn-gray.disabled.focus,
.editor-styles-wrapper .btn.btn-gray[disabled].focus,
fieldset[disabled] .editor-styles-wrapper .btn.btn-gray.focus {
  background-color: #808080;
  border-color: #808080;
}
.editor-styles-wrapper .btn.btn-gray.btn-outline {
  color: #333333;
  background-color: transparent;
  border-color: #cccccc;
}
.editor-styles-wrapper .btn.btn-gray.btn-outline.btn-link:before {
  background-color: #cccccc;
}
.editor-styles-wrapper .btn.btn-gray.btn-outline:focus,
.editor-styles-wrapper .btn.btn-gray.btn-outline:active,
.editor-styles-wrapper .btn.btn-gray.btn-outline:hover {
  color: #ffffff !important;
  background-color: #333333;
  border-color: #333333;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.editor-styles-wrapper .btn.btn-gray.btn-outline:focus.btn-link:before,
.editor-styles-wrapper .btn.btn-gray.btn-outline:active.btn-link:before,
.editor-styles-wrapper .btn.btn-gray.btn-outline:hover.btn-link:before {
  background-color: #333333;
}
.editor-styles-wrapper .btn.btn-gray.btn-outline.disabled:hover,
.editor-styles-wrapper .btn.btn-gray.btn-outline[disabled]:hover,
fieldset[disabled] .editor-styles-wrapper .btn.btn-gray.btn-outline:hover,
.editor-styles-wrapper .btn.btn-gray.btn-outline.disabled:focus,
.editor-styles-wrapper .btn.btn-gray.btn-outline[disabled]:focus,
fieldset[disabled] .editor-styles-wrapper .btn.btn-gray.btn-outline:focus,
.editor-styles-wrapper .btn.btn-gray.btn-outline.disabled:active,
.editor-styles-wrapper .btn.btn-gray.btn-outline[disabled]:active,
fieldset[disabled] .editor-styles-wrapper .btn.btn-gray.btn-outline:active,
.editor-styles-wrapper .btn.btn-gray.btn-outline.disabled.focus,
.editor-styles-wrapper .btn.btn-gray.btn-outline[disabled].focus,
fieldset[disabled] .editor-styles-wrapper .btn.btn-gray.btn-outline.focus {
  background-color: transparent;
  border-color: #cccccc;
}
.editor-styles-wrapper .btn.btn-gray.btn-link {
  color: #333333;
  background-color: transparent;
  border-color: #ededed;
}
.editor-styles-wrapper .btn.btn-gray.btn-link.btn-link:before {
  background-color: #ededed;
}
.editor-styles-wrapper .btn.btn-gray.btn-link:focus,
.editor-styles-wrapper .btn.btn-gray.btn-link:active,
.editor-styles-wrapper .btn.btn-gray.btn-link:hover {
  color: #333333 !important;
  background-color: transparent;
  border-color: #ededed;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.editor-styles-wrapper .btn.btn-gray.btn-link:focus.btn-link:before,
.editor-styles-wrapper .btn.btn-gray.btn-link:active.btn-link:before,
.editor-styles-wrapper .btn.btn-gray.btn-link:hover.btn-link:before {
  background-color: #ededed;
}
.editor-styles-wrapper .btn.btn-gray.btn-link.disabled:hover,
.editor-styles-wrapper .btn.btn-gray.btn-link[disabled]:hover,
fieldset[disabled] .editor-styles-wrapper .btn.btn-gray.btn-link:hover,
.editor-styles-wrapper .btn.btn-gray.btn-link.disabled:focus,
.editor-styles-wrapper .btn.btn-gray.btn-link[disabled]:focus,
fieldset[disabled] .editor-styles-wrapper .btn.btn-gray.btn-link:focus,
.editor-styles-wrapper .btn.btn-gray.btn-link.disabled:active,
.editor-styles-wrapper .btn.btn-gray.btn-link[disabled]:active,
fieldset[disabled] .editor-styles-wrapper .btn.btn-gray.btn-link:active,
.editor-styles-wrapper .btn.btn-gray.btn-link.disabled.focus,
.editor-styles-wrapper .btn.btn-gray.btn-link[disabled].focus,
fieldset[disabled] .editor-styles-wrapper .btn.btn-gray.btn-link.focus {
  background-color: transparent;
  border-color: #ededed;
}
.editor-styles-wrapper .btn.btn-red {
  color: #ffffff;
  background-color: #e14e42;
  border-color: #e14e42;
}
.editor-styles-wrapper .btn.btn-red.btn-link:before {
  background-color: #e14e42;
}
.editor-styles-wrapper .btn.btn-red:focus,
.editor-styles-wrapper .btn.btn-red:active,
.editor-styles-wrapper .btn.btn-red:hover {
  color: #e14e42 !important;
  background-color: transparent;
  border-color: #e14e42;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.editor-styles-wrapper .btn.btn-red:focus.btn-link:before,
.editor-styles-wrapper .btn.btn-red:active.btn-link:before,
.editor-styles-wrapper .btn.btn-red:hover.btn-link:before {
  background-color: #e14e42;
}
.editor-styles-wrapper .btn.btn-red.disabled:hover,
.editor-styles-wrapper .btn.btn-red[disabled]:hover,
fieldset[disabled] .editor-styles-wrapper .btn.btn-red:hover,
.editor-styles-wrapper .btn.btn-red.disabled:focus,
.editor-styles-wrapper .btn.btn-red[disabled]:focus,
fieldset[disabled] .editor-styles-wrapper .btn.btn-red:focus,
.editor-styles-wrapper .btn.btn-red.disabled:active,
.editor-styles-wrapper .btn.btn-red[disabled]:active,
fieldset[disabled] .editor-styles-wrapper .btn.btn-red:active,
.editor-styles-wrapper .btn.btn-red.disabled.focus,
.editor-styles-wrapper .btn.btn-red[disabled].focus,
fieldset[disabled] .editor-styles-wrapper .btn.btn-red.focus {
  background-color: #e14e42;
  border-color: #e14e42;
}
.editor-styles-wrapper .btn.btn-red.btn-outline {
  color: #e14e42;
  background-color: transparent;
  border-color: #e14e42;
}
.editor-styles-wrapper .btn.btn-red.btn-outline.btn-link:before {
  background-color: #e14e42;
}
.editor-styles-wrapper .btn.btn-red.btn-outline:focus,
.editor-styles-wrapper .btn.btn-red.btn-outline:active,
.editor-styles-wrapper .btn.btn-red.btn-outline:hover {
  color: #ffffff !important;
  background-color: #e14e42;
  border-color: #e14e42;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.editor-styles-wrapper .btn.btn-red.btn-outline:focus.btn-link:before,
.editor-styles-wrapper .btn.btn-red.btn-outline:active.btn-link:before,
.editor-styles-wrapper .btn.btn-red.btn-outline:hover.btn-link:before {
  background-color: #e14e42;
}
.editor-styles-wrapper .btn.btn-red.btn-outline.disabled:hover,
.editor-styles-wrapper .btn.btn-red.btn-outline[disabled]:hover,
fieldset[disabled] .editor-styles-wrapper .btn.btn-red.btn-outline:hover,
.editor-styles-wrapper .btn.btn-red.btn-outline.disabled:focus,
.editor-styles-wrapper .btn.btn-red.btn-outline[disabled]:focus,
fieldset[disabled] .editor-styles-wrapper .btn.btn-red.btn-outline:focus,
.editor-styles-wrapper .btn.btn-red.btn-outline.disabled:active,
.editor-styles-wrapper .btn.btn-red.btn-outline[disabled]:active,
fieldset[disabled] .editor-styles-wrapper .btn.btn-red.btn-outline:active,
.editor-styles-wrapper .btn.btn-red.btn-outline.disabled.focus,
.editor-styles-wrapper .btn.btn-red.btn-outline[disabled].focus,
fieldset[disabled] .editor-styles-wrapper .btn.btn-red.btn-outline.focus {
  background-color: transparent;
  border-color: #e14e42;
}
.editor-styles-wrapper .btn.btn-red.btn-link {
  color: #e14e42;
  background-color: transparent;
  border-color: #e14e42;
}
.editor-styles-wrapper .btn.btn-red.btn-link.btn-link:before {
  background-color: #e14e42;
}
.editor-styles-wrapper .btn.btn-red.btn-link:focus,
.editor-styles-wrapper .btn.btn-red.btn-link:active,
.editor-styles-wrapper .btn.btn-red.btn-link:hover {
  color: #e14e42 !important;
  background-color: transparent;
  border-color: #e14e42;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.editor-styles-wrapper .btn.btn-red.btn-link:focus.btn-link:before,
.editor-styles-wrapper .btn.btn-red.btn-link:active.btn-link:before,
.editor-styles-wrapper .btn.btn-red.btn-link:hover.btn-link:before {
  background-color: #e14e42;
}
.editor-styles-wrapper .btn.btn-red.btn-link.disabled:hover,
.editor-styles-wrapper .btn.btn-red.btn-link[disabled]:hover,
fieldset[disabled] .editor-styles-wrapper .btn.btn-red.btn-link:hover,
.editor-styles-wrapper .btn.btn-red.btn-link.disabled:focus,
.editor-styles-wrapper .btn.btn-red.btn-link[disabled]:focus,
fieldset[disabled] .editor-styles-wrapper .btn.btn-red.btn-link:focus,
.editor-styles-wrapper .btn.btn-red.btn-link.disabled:active,
.editor-styles-wrapper .btn.btn-red.btn-link[disabled]:active,
fieldset[disabled] .editor-styles-wrapper .btn.btn-red.btn-link:active,
.editor-styles-wrapper .btn.btn-red.btn-link.disabled.focus,
.editor-styles-wrapper .btn.btn-red.btn-link[disabled].focus,
fieldset[disabled] .editor-styles-wrapper .btn.btn-red.btn-link.focus {
  background-color: transparent;
  border-color: #e14e42;
}
.editor-styles-wrapper .btn.btn-black {
  color: #ffffff;
  background-color: #161616;
  border-color: #161616;
}
.editor-styles-wrapper .btn.btn-black.btn-link:before {
  background-color: #161616;
}
.editor-styles-wrapper .btn.btn-black:focus,
.editor-styles-wrapper .btn.btn-black:active,
.editor-styles-wrapper .btn.btn-black:hover {
  color: #ffffff !important;
  background-color: #e4573d;
  border-color: #e4573d;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.editor-styles-wrapper .btn.btn-black:focus.btn-link:before,
.editor-styles-wrapper .btn.btn-black:active.btn-link:before,
.editor-styles-wrapper .btn.btn-black:hover.btn-link:before {
  background-color: #e4573d;
}
.editor-styles-wrapper .btn.btn-black.disabled:hover,
.editor-styles-wrapper .btn.btn-black[disabled]:hover,
fieldset[disabled] .editor-styles-wrapper .btn.btn-black:hover,
.editor-styles-wrapper .btn.btn-black.disabled:focus,
.editor-styles-wrapper .btn.btn-black[disabled]:focus,
fieldset[disabled] .editor-styles-wrapper .btn.btn-black:focus,
.editor-styles-wrapper .btn.btn-black.disabled:active,
.editor-styles-wrapper .btn.btn-black[disabled]:active,
fieldset[disabled] .editor-styles-wrapper .btn.btn-black:active,
.editor-styles-wrapper .btn.btn-black.disabled.focus,
.editor-styles-wrapper .btn.btn-black[disabled].focus,
fieldset[disabled] .editor-styles-wrapper .btn.btn-black.focus {
  background-color: #161616;
  border-color: #161616;
}
.editor-styles-wrapper .btn.btn-black.btn-outline {
  color: #161616;
  background-color: transparent;
  border-color: #161616;
}
.editor-styles-wrapper .btn.btn-black.btn-outline.btn-link:before {
  background-color: #161616;
}
.editor-styles-wrapper .btn.btn-black.btn-outline:focus,
.editor-styles-wrapper .btn.btn-black.btn-outline:active,
.editor-styles-wrapper .btn.btn-black.btn-outline:hover {
  color: #ffffff !important;
  background-color: #161616;
  border-color: #161616;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.editor-styles-wrapper .btn.btn-black.btn-outline:focus.btn-link:before,
.editor-styles-wrapper .btn.btn-black.btn-outline:active.btn-link:before,
.editor-styles-wrapper .btn.btn-black.btn-outline:hover.btn-link:before {
  background-color: #161616;
}
.editor-styles-wrapper .btn.btn-black.btn-outline.disabled:hover,
.editor-styles-wrapper .btn.btn-black.btn-outline[disabled]:hover,
fieldset[disabled] .editor-styles-wrapper .btn.btn-black.btn-outline:hover,
.editor-styles-wrapper .btn.btn-black.btn-outline.disabled:focus,
.editor-styles-wrapper .btn.btn-black.btn-outline[disabled]:focus,
fieldset[disabled] .editor-styles-wrapper .btn.btn-black.btn-outline:focus,
.editor-styles-wrapper .btn.btn-black.btn-outline.disabled:active,
.editor-styles-wrapper .btn.btn-black.btn-outline[disabled]:active,
fieldset[disabled] .editor-styles-wrapper .btn.btn-black.btn-outline:active,
.editor-styles-wrapper .btn.btn-black.btn-outline.disabled.focus,
.editor-styles-wrapper .btn.btn-black.btn-outline[disabled].focus,
fieldset[disabled] .editor-styles-wrapper .btn.btn-black.btn-outline.focus {
  background-color: transparent;
  border-color: #161616;
}
.editor-styles-wrapper .btn.btn-black.btn-link {
  color: #161616;
  background-color: transparent;
  border-color: #161616;
}
.editor-styles-wrapper .btn.btn-black.btn-link.btn-link:before {
  background-color: #161616;
}
.editor-styles-wrapper .btn.btn-black.btn-link:focus,
.editor-styles-wrapper .btn.btn-black.btn-link:active,
.editor-styles-wrapper .btn.btn-black.btn-link:hover {
  color: #161616 !important;
  background-color: transparent;
  border-color: #161616;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.editor-styles-wrapper .btn.btn-black.btn-link:focus.btn-link:before,
.editor-styles-wrapper .btn.btn-black.btn-link:active.btn-link:before,
.editor-styles-wrapper .btn.btn-black.btn-link:hover.btn-link:before {
  background-color: #161616;
}
.editor-styles-wrapper .btn.btn-black.btn-link.disabled:hover,
.editor-styles-wrapper .btn.btn-black.btn-link[disabled]:hover,
fieldset[disabled] .editor-styles-wrapper .btn.btn-black.btn-link:hover,
.editor-styles-wrapper .btn.btn-black.btn-link.disabled:focus,
.editor-styles-wrapper .btn.btn-black.btn-link[disabled]:focus,
fieldset[disabled] .editor-styles-wrapper .btn.btn-black.btn-link:focus,
.editor-styles-wrapper .btn.btn-black.btn-link.disabled:active,
.editor-styles-wrapper .btn.btn-black.btn-link[disabled]:active,
fieldset[disabled] .editor-styles-wrapper .btn.btn-black.btn-link:active,
.editor-styles-wrapper .btn.btn-black.btn-link.disabled.focus,
.editor-styles-wrapper .btn.btn-black.btn-link[disabled].focus,
fieldset[disabled] .editor-styles-wrapper .btn.btn-black.btn-link.focus {
  background-color: transparent;
  border-color: #161616;
}
.editor-styles-wrapper .btn-container.btn-inline {
  display: inline-block;
}
.editor-styles-wrapper .components-icon-button {
  overflow: hidden;
}
.wp-block-code .editor-plain-text {
  font-family: 'Nunito Sans';
  font-size: 0.875rem;
  color: #333333;
  background: transparent;
}
.wp-block-button:not(.is-style-outline) .wp-block-button__link:hover,
.wp-block-button:not(.is-style-outline) .wp-block-button__link:focus,
.wp-block-button:not(.is-style-outline) .wp-block-button__link:active {
  background-color: #333 !important;
  color: #fff !important;
}
.wp-block-button:not(.is-style-outline) .wp-block-button__link.has-background,
.wp-block-button:not(.is-style-outline) .wp-block-button__link.has-text-color {
  border-color: transparent !important;
}
.wp-block-button.is-style-outline .wp-block-button__link:hover,
.wp-block-button.is-style-outline .wp-block-button__link:focus,
.wp-block-button.is-style-outline .wp-block-button__link:active {
  color: #e4573d !important;
}
.wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color):hover,
.wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color):focus,
.wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color):active {
  color: #333 !important;
}
.wp-block-freeform.wp-block-freeform.block-library-rich-text__tinymce a {
  color: #e4573d;
}
.wp-block-freeform.wp-block-freeform.block-library-rich-text__tinymce code {
  padding: .2rem .4rem;
  font-size: 90%;
  color: #bd4147;
  background-color: #f8f9fa;
  border-radius: .25rem;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
.wp-block-freeform.wp-block-freeform.block-library-rich-text__tinymce a > code {
  padding: 0;
  color: inherit;
  background-color: inherit;
}
